.tarjetaCategoria {
  width: 18rem;
  height: 8rem;
  border: solid 4px;
  border-color: chocolate;
  border-radius: 20px;
}
.tarjetaCategoria:hover{
  background-color: gray;
  cursor: pointer;

}

.tarjetaCategoria h3 {
  text-align: center;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(4, 1fr );
  grid-gap: 10px;
}

.tarjetaProducto {
  width: 25rem;
  height: 10rem;
  border: solid 4px;
  border-color: chocolate;
}

.grid-alimentos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}


.agregado-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #28a745; /* Puedes cambiar el color según tus preferencias */
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.8em;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  max-width: 400px; /* ajusta según tus necesidades */
}

.category-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  filter: blur(0); /* No hay difuminado inicial */
  transition: filter 0.3s ease; /* Añade una transición para suavizar el cambio en hover */
}

.category-text {

  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.category-card:hover .category-image {
  filter: blur(5px); /* Aplica difuminado en hover */
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}